.footer {
  margin: 0 auto;
  max-width: 880px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 19px 60px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    padding: 0 19px 36px;
  }
}
