.elements__img {
  margin: 0;
  display: block;
  height: 282px;
  max-width: 282px;
  width: 100%;
  cursor: pointer;
  object-fit: cover;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .elements__img {
     max-width: 420px;
     width: 100%;
  }
}
