.elements__list {
  margin: 0 auto;
  padding: 0;
  max-width: 880px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, max-content));
  grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
  gap: 20px 17px;
}
@media screen and (min-width: 768px) and (max-width: 880px) {
  .elements__list {
    grid-template-columns: repeat(2, minmax(282px, max-content));
    align-items: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .elements__list {
    min-width: 282px;
  }
}
